* {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .body {
    height: 100vh;
    background-color: #EFFDEF;
  }

  header {
    background-color: #35AA55;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
  }
  input {
    border-radius: 4px;
    padding: 4px;
  }
  /* Chrome e outros */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  select {
    border-radius: 4px;
    padding: 3px;
  }
  .title-body {
    color: #333;
    padding: 16px;
    text-align: center;
  }
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  